doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="css/status.css", type="text/css")
    title #{title}
  body
    h1 #{title}
    #container
      img(src="#{image}")
      p
        a(href="/") More Pizza